body {
	background-image: url("https://images.pexels.com/photos/132197/pexels-photo-132197.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	text-align: center;
}

h1 {
	color: blue;
	text-align: center;
}

.gallery {
	display: inline-block;
	margin: 10px;
}

.gallery img {
	height: 200px;
	border: 3px solid green;
}

button {
	border: 2px solid black;
	background-color: white;
	color: purple;
	font-size: 24px;
}

button:hover {
	background-color: red;
	color: navy;
}

p {
	color: darkred;
}
